@font-face {
  font-family: 'FilsonProMedium';
  src: local('FilsonProMedium'),
    url(~@/assets/fonts/filson/FilsonProMedium.ttf) format('truetype');
}

@font-face {
  font-family: 'FilsonProLight';
  src: local('FilsonProLight'),
    url(~@/assets/fonts/filson/FilsonProLight.ttf) format('truetype');
}

@font-face {
  font-family: 'FilsonProBlack';
  src: local('FilsonProBlack'),
    url(~@/assets/fonts/filson/FilsonProBlack.ttf) format('truetype');
}

@font-face {
  font-family: 'FilsonProBold';
  src: local('FilsonProBold'),
    url(~@/assets/fonts/filson/FilsonProBold.ttf) format('truetype');
}

@font-face {
  font-family: 'FilsonProMediumItalic';
  src: local('FilsonProMediumItalic'),
    url(~@/assets/fonts/filson/FilsonProMedium-Italic.ttf) format('truetype');
}

@font-face {
  font-family: 'FilsonProBoldItalic';
  src: local('FilsonProBoldItalic'),
    url(~@/assets/fonts/filson/FilsonProBold-Italic.ttf) format('truetype');
}
